<div class="container">
    <h1 class="animated fadeIn fast"> 
        Acerca de Mi
    </h1>
    <hr>
    <p class="animated fadeIn ">
        Hola! Soy Nicolas
        <br>
        Esta es mi primer SPA hecha en el framework Angular. Un simple proyecto en el que se puede navegar por distintos componentes, y utilizar el buscador.
        <br>
        La misma posee diseño Responsive.
        <br>
        Para realizar esta web utilicé:
        <br>
    </p>
        <ul>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>Bootstrap</li>

        </ul>
    

</div>